<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/TestRock.app</string>
		<key>CFBundleIdentifier</key>
		<string>cn.com.schneider-electric.EDisco</string>
		<key>CFBundleShortVersionString</key>
		<string>1.1.1</string>
		<key>CFBundleVersion</key>
		<string>1</string>
		<key>SigningIdentity</key>
		<string>iPhone Distribution: Beijing Novatin Information Technology Co., Ltd. (F3A8R3FAA7)</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2018-01-12T01:48:01Z</date>
	<key>Name</key>
	<string>TestRock</string>
	<key>SchemeName</key>
	<string>TestRock</string>
</dict>
</plist>
